/* Цвета:
 * Голубой (флаг Сомали):
 * 	#3f8ade
 * Почти черный (синеватый):
 * 	#234
 * Почти черный (серый):
 * 	#111
*/

/* ОБЩЕЕ */

/* Подключение шрифта */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption&display=swap');/*PT Sans + Caption*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');/*M PLUS Rounded 1c*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');/*Didact Gothic*/
/*@font-face {
    font-family: 'Sansation';
    src: url('.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
* {
    margin: 0;
    padding: 0;
}
/*new*/


/*old*/

#form * {
    font-family: 'PT Sans Caption', sans-serif;
}

abbr {
    color: inherit;
}

*:focus {
    outline: none;
    border: inherit;
}

#content {
    background-color: white;
    z-index: 0;
}

a, a:visited, a:hover {
    color: #3f8ade;
    text-decoration: none;
}

/* HOME - ГЛАВНАЯ СТРАНИЦА */
.home {
    background: unset;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

    .home .background {
        height: 100%;
        background-size: auto 100% !important;
    }

    .home #form {
        height: 100%;
        background-color: rgba(0,0,0,0.664); /* #000a */
        z-index: -2;
    }

    .home #content {
        background-color: rgba(0,0,0,0) !important;
        margin: auto 0 0 0;
        z-index: 0;
        height: inherit;
    }

    .home #primary {
        height: 100%;
    }

    .home #secondary {
        background: none;
    }

    .home #main {
        display: flex;
        width: 100%;
        height: 90% !important;
    }

    .home #core {
        margin: auto;
        z-index: 0;
        height: -moz-fit-content;
        height: fit-content;
    }

        .home #core *, .widget_nav_menu a, .widget_nav_menu a:hover {
            color: #eee;
        }

    .home .site-title {
        margin: 0;
        font-size: 60px;
        text-align: center;
    }

    .home .site-description {
        margin: 0;
        font-size: small;
        display: block;
        text-align: center;
        transition: opacity 0.5s;
    }

        .home .site-description * {
            vertical-align: middle;
        }

.site-description i {
    display: inline-block;
    font-size: 1.5rem;
}

.home i.fa-pause {
    font-size: 1rem;
    display: none;
}
/*.home */ .widget_search * {
    border: 0;
}
/*.home */ .widget_search input {
    background-color: rgba(238,238,238,0.664) !important;
}

.home #meta-2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7.2%;
    bottom: 0%;
    display: flex;
    background: linear-gradient( to top, #000, rgba(0,0,0,0));
    padding-bottom: 3%;
}

    .home #meta-2 > * {
        margin: auto;
    }

.home .widget-title {
    display: none;
}

.home .site-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient( to top, #23282d, rgba(35, 40, 45, 0.664));
    height: 4%;
}

.home .site-info {
    display: none;
}

/* HEADER */
.site-header {
    position: relative;
}

.background {
    position: fixed;
    height: /*500px*/ 100%;
    width: 100%;
    background-position: 50% 30% !important;
    background-size: auto 150% !important;
    z-index: -1;
}
/* На маленьких экранах шапка #WPAdminBar имеет свойство position: absolute вместо fixed и при пролистывании съезжет вверх. Под ней - раздражающий белый прямоугольник. Убираем */
@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed !important;
    }
}

.site-branding {
    position: relative;
    height: 380px;
    background: linear-gradient(
    /* #0000,#0005,#000c */
    rgba(0,0,0,0), rgba(0,0,0,0.332) 80%, rgba(0,0,0,0.796));
}

.custom-logo-link {
    position: relative;
    height: 100%;
    min-width: 81px;
}

.custom-logo {
    position: absolute;
    bottom: 0;
    margin: auto 0 0 0;
}

#site-navigation > div {
    height: 54px;
}

#site-navigation .menu-item a {
    color: white;
    white-space: nowrap;
}

#site-navigation .menu-item a {
    margin: 15px;
}

.site-branding p {
    margin: auto 0 15px 15px;
    color: white !important;
}

.site-branding a,
.site-branding a:hover,
.site-branding a:visited {
    color: white !important;
}

.site-title {
    font-weight: normal;
}

.site-description {
    display: none;
}

button.menu-toggle {
    border: none;
    background: none;
    color: white;
    height: 54px;
    font-size: inherit;
}

#site-navigation {
    background-color: #3f8ade;
    /*background-color: #234;*/
    display: flex;
}

#primary-menu > li {
    margin-left: 0;
}

/* Заголовок страницы */
.container.page-header {
    position: relative;
    margin: auto auto 1.5em auto;
}

.page-title,
article.hentry .entry-title {
    margin: 0.67em 0 0 0 !important;
}

.page-title {
    font-size: xx-large;
    font-weight: normal;
}

.open-all-button {
    margin: 0;
    text-align: right;
}

/* Превью записей:
 * Archive - `аркайв
 * Page-template - разделы
 * Search - результаты поиска
 * div.hentry - карточка-превью
*/
.container {
    margin-bottom: 40px;
}

    .container > .row:nth-child(2) {
        background-color: rgba(124,124,124,0.3);
        /* ghostwhite */
    }
/*.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */ /* Bootstrap */
/*.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}*/

div.hentry {
    color: white !important;
    background: radial-gradient(circle at top,#123,#000 80%);
    /*
	background-image: url(https://fdrvpo301.000webhostapp.com/wp-content/uploads/2018/11/placeholder1366x768.jpg);
	*/
    background-position: 50% 0;
    background-size: 100%;
    transition: background 0.5s, -webkit-background 0.5s;
    padding: 0;
    position: relative;
    min-height: 77px;
    z-index: 0;
}

    div.hentry > * {
        margin: 0;
    }

    div.hentry:hover {
        color: gainsboro;
        background-color: #3f8ade;
        background-size: 175%;
    }

    div.hentry .entry-header {
        background-color: rgba(0,0,17,0.664); /* #001a */
        padding: 8px;
    }

    div.hentry .entry {
        background-color: rgba(0,0,17,0.664); /* #001a */
        padding: 4px 8px;
    }

    div.hentry .entry-meta {
        margin-bottom: 32px;
    }

    div.hentry .entry-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

.comments-link img,
.edit-link img {
    height: 1em;
    margin: 0 1px;
}

.page-template .post h3,
.search .hentry h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 /*-1px*/;
    width: 100%;
    padding: 0 0.6em 0.6em;
    color: white;
    background-color: rgba(0,0,0,0.3); /* #0007 */
    background: linear-gradient( to top, #000, rgba(0,0,0,0));
}

div.hentry a {
    color: white;
    word-break: break-word;
}

div.hentry:hover a:hover {
    color: gainsboro;
}

div.hentry,
div.hentry .entry-content {
    margin: 0;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free" !important;
}

div.hentry .comments-link .col-6:first-child {
    text-align: center;
}

.addnew, .addnew * {
    background: none !important;
    color: rgb(124,124,124) !important;
    /* ghostwhite */
}

/* Записи */
.single .entry-title {
    margin-bottom: 0;
}

.single .post-thumbnail {
    width: 35%;
    margin: 30px 0;
    padding-left: 30px;
    display: none;
}

.gallery-item {
    margin: 0;
}

/* Навигация */
.nav-links {
    display: flex;
}

.nav-previous {
    background: linear-gradient( to left, white, #eef);
}

.nav-next {
    background: linear-gradient( to right, white, #eef);
}

.nav-links a {
    margin: auto 10px;
}

/* Комментарии */

.comment-form > p {
    margin: 0;
}

    .comment-form > p > label:first-child {
        min-width: 60px;
    }

#comment {
    height: 100px;
}

.comment-list {
    margin: 0 0 13px;
    padding: 0;
}

    .comment-list article {
        margin-top: 1em;
    }

.comment-content p {
    margin-bottom: 0;
}

.comment-list .children {
    margin-left: 0;
    border-left: 1px dotted #234;
}


/* Виджеты */
/* 
 * Header
*/
.my-widgets {
    display: flex;
}

.site-branding .widget_search {
    position: absolute;
    right: 8px;
    bottom: -45px;
    color: #234 !important;
}

    .site-branding .widget_search input {
        background-color: rgba(238,238,238,0.664) !important;
    }

    .site-branding .widget_search .search-submit:hover {
        background-color: #eee !important;
    }
/*
 * Sideber
*/
#secondary {
    background: rgba(0,0,0,0.664);
}

.widget {
    margin: 0;
}

.widget_nav_menu > div {
    display: flex;
}

.widget_nav_menu ul {
    margin: auto;
    padding: 0;
    display: flex;
    list-style: none;
}

    .widget_nav_menu ul li {
        margin: 1em;
    }

.widget_search {
    display: flex;
}

input {
    transition: -webkit-box-shadow, 0.5s;
}

    input:-webkit-autofill {
        -webkit-box-shadow: inset 0 100px 0 25px #fffa !important;
        transition: -webkit-box-shadow, 0.5s;
        /* Текстбокс поисковой строки в Chrome противно желтел при выборе из выподающего списка autocomplete */
    }

.widget_search input {
    border: 0;
    color: #234 !important;
}

#secondary .widget_search {
    margin: 0 1em 1em;
}

    #secondary .widget_search input {
        background-color: rgba(124,124,124,0.3);
    }

.search-form {
    margin: auto;
    display: flex;
}

label {
    margin: 0;
    padding: 0;
}

input[type="search"], input[type="submit"] {
    height: 36px;
    padding: 0 8px;
}

.search-field {
    margin-bottom: 0;
    width: 150px;
    background-color: rgba(238,238,238,0.664); /* #eeea */
    border-radius: 5px 7% 7% 5px !important;
}

.search-submit {
    cursor: pointer;
    height: 30px !important;
    margin: auto 0;
    width: 80px;
    border-radius: 0px 48% 48% 0 !important;
    border-left: 0 !important;
    color: #111 !important;
}

*::placeholder {
    color: #234 !important;
}

.widget_meta {
    background: linear-gradient(#03080d,#23282d);
    display: flex;
}

.widget-title {
    background: linear-gradient(#00538a,#0093ca);
    padding: 0 12px;
    color: white;
    margin-bottom: 0;
}

.widget_meta > ul {
    margin: 0;
    padding: 7px 6px 8px;
    list-style: none;
}

    .widget_meta > ul li {
        display: block;
    }

        .widget_meta > ul li a {
            padding: 5px 6px;
        }

.widget_meta a {
    color: #f0f5fa;
    color: rgba(240,245,250,0.7);
}

.widget_archive p {
    margin: 0;
}

/* Footer */
.site-info {
    text-align: center;
    background-color: #234;
    color: white;
    height: 7.2%;
}

    .site-info a {
        color: gainsboro;
    }

        .site-info a:hover {
            color: white;
        }

/* Страница 404 */
.error404options * {
    list-style: none;
    padding: 0;
    background: unset;
    color: unset;
}

.error404options .widget {
    margin: 0 3em 1em 0;
}

    .error404options .widget > ul {
        margin: 0;
    }

.error404options a {
    color: black;
}

select {
}

/* IE */
#fuckIE {
    z-index: 1;
    background-color: #234 !important;
    height: auto;
    position: absolute;
    top: 0;
    width: 100%;
}

    #fuckIE * {
        font-family: 'PT Sans Caption', sans-serif !important;
        color: white;
        margin: 0;
        min-height: 0 !important;
    }

    #fuckIE .container {
        margin: 0 auto;
    }

    #fuckIE .col a * {
        width: 100%;
        margin: 5% 10%;
        text-align: center;
        font-size: large;
    }

.ie.home #core {
    margin-top: 10%;
}

.ie .site-branding p {
    margin-top: 340px;
}

.edge #desc {
    transition: opacity 0s;
}

/* @media */
@media (min-width: 300px) {
}

@media (min-width: 576px) {
    .site-branding .widget_search {
        bottom: 8px !important;
    }

    #primary-menu > li {
        margin-left: 30px;
    }
    /*.container {
		max-width: 540px;
	} */ /* Bootstrap */
    div.hentry .entry-title {
        font-size: 0.95rem;
        font-weight: bolder;
    }

    div.hentry .entry {
        font-size: small;
    }

    div.hentry .entry-meta {
        margin-bottom: 27px;
    }

    .magicspan {
        display: none;
    }
}

@media (min-width: 768px) {
    .background {
        background-size: 100% auto !important;
    }
    /*.container {
		max-width: 720px;
	} */ /* Bootstrap */
    div.hentry {
        min-height: 150px;
    }

        div.hentry .entry-title {
            font-size: 1.3rem;
        }

    .entry-meta {
        font-size: initial;
    }

    .single .container > article {
        width: 65%;
    }

    .single .post-thumbnail {
        display: initial;
    }

    .widget_meta ul {
        display: flex;
    }

    .error404options {
        display: flex;
    }

    .site-description {
        display: inherit;
    }
}

@media (min-width: 900px) {
    .home .background {
        background-size: 100% auto !important;
    }
}

@media (min-width: 992px) {
    /*.container {
		max-width: 960px;
	} */ /* Bootstrap */
    div.hentry {
        min-height: 200px;
        background-size: auto 300px;
    }

        div.hentry:hover {
            background-size: auto 500px;
        }

        div.hentry .entry-title {
            font-size: 1.8rem;
        }
}

@media (min-width: 1200px) {
    /*.container {
		max-width: 1140px;
	} */ /* Bootstrap */
    div.hentry {
        min-height: 250px;
    }

        div.hentry .entry-title {
            font-size: 1.9rem;
        }
}
