@using WebApp.DataClassLibrary.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main page";
    var posts = new List<Post>
    {
        new Post { PostID = 0, PostTitle = "T I T L E" }
    };
}

<div>
    <div class="bs-container">
        <h3>Добро пожаловать</h3>
        <p>@Resources.Language.Description</p>
    </div>
    <div class="bs-container">
        <div class="bs-row bs-row-4">
            <!--<custom:PostTiles ID="RecentPostTiles" />-->
            @MyHelpers.PostTileList(posts)
        </div>
    </div>
</div>