@using WebApp.DataClassLibrary;
@using WebApp.DataClassLibrary.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main page";
    List<Post> posts;
    using (DBContext context = new DBContext())
    {
        posts = context.Set<Post>().OrderByDescending(p => p.PostDateUTC).ToList();
    }
}

<div>
    <div class="bs-container">
        <h3>Добро пожаловать</h3>
        <p>@Resources.Language.Description</p>
    </div>
    <div class="bs-container">
        <div class="bs-row bs-row-4">
            @MyHelpers.PostTileList(posts)
        </div>
    </div>
</div>